@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --bg-color: #3ae3e9;
  --btn-bg-color: #4ea1a1;
  --btn-bg-hover-color: #b2b9c2;
  --btn-hover-text-color: #5f6164;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  background-color: var(--bg-color);
}

.App {
  max-width: 500px;
  padding: 0rem 1rem;
  margin: auto;
  text-align: center;
}

h1,
h2 {
  padding: 1rem;
}

hr {
  border: 1px solid;
}

button {
  background-color: var(--btn-bg-color);
  padding: 0.6rem 1rem;
  margin: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-bg-hover-color);
  color: var(--btn-hover-text-color);
}

li {
  padding: 1rem 1rem 2rem 1rem;
  /* width: 65%;
  height: 40vh; */
  margin: 2rem;
  border: 2px solid black;
  border-radius: 0.5rem;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}
